<div style="border: 1px solid white; padding: 51px 30px 51px 30px; margin-top: 30px;">
    <h1>NgCalculator</h1>
    <input type="text">
    <div class="number-row">
        <button>1</button>
        <button>2</button>
        <button>3</button>
    </div>
    <div class="number-row">
        <button>4</button>
        <button>5</button>
        <button>6</button>
    </div>
    <div class="number-row">
        <button>7</button>
        <button>8</button>
        <button>9</button>
    </div>
    <div class="number-row">
        <button>0</button>
        <button>+</button>
        <button>-</button>
    </div>
    <div class="number-row">
        <button>*</button>
        <button>/</button>
        <button>=</button>
    </div>
</div>